@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Play:wght@400;700&display=swap');

body{
   background-color:#FFFFFF;
   font-family: "Open Sans", sans-serif;
}

h1,h2,h3{
	font-family: "Play", sans-serif;
    color: #4639C8;
}

header{
    background: #2732A6;
    background: linear-gradient(90deg,rgba(39, 50, 166, 1) 0%, rgba(6, 26, 93, 1) 50%, rgba(53, 39, 139, 1) 100%);
    text-align: center;
}

header h1{
    line-height: 200%;
    margin: 0;
    color: white;
}

nav{
    font-weight: bold;
    background-color: #00195C;
    text-align: center;
    line-height: 200%;
    border-top: 10px solid #010518; 
}
nav a:link{
    color:white;
}
nav a:visited{
    color:white;
}
nav a:hover{
    color:#B6DCFF;
}
nav a:active{
    color:#B6DCFF;
}

h1,h2,h3{
	font-family: "Play", sans-serif;
    color: #00195C;
}

main{
    max-width: 1000px;
    margin: 30px auto;
    padding: 10px;
}

footer{
    max-width: 1000px;
    margin: 30px auto;
    padding: 10px;
    font-style: italic;
    text-align: center;
}

.logo{
    max-width: 100%;
    height: auto;
    padding-top: 15px;
}
.logo:hover{
    opacity: 0.8;
}

nav a{
    text-decoration: none;
}

.home-hero{
    background-image: url(images/hero-image.jpg);
    height: 300px;
    background-size: cover;
    background-position: top center;
}

.home-hero h1{
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    padding-top: 115px;
    font-size: 3em;
    font-weight: normal;
    margin: 0;
}

h1{
    font-size: 3.5em;
    margin: 0;
}

h2{
    border-bottom: 2px solid #1C2995;
    display: flex;
    padding: 5px;
    font-size: 2em;
    font-weight: 100;
}

h3{
    font-size: 1.7em;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

nav li{
    display: inline;
    padding: 10px;
}

.float-right{
    float: right;
    max-width: 40%;
    height: auto;
    Box-shadow: 6;
    Border: 10px ridge #FFFFFF;
    Border-radius: 10px;
    margin: 30px;
}

.float-left{
    float: left;
    max-width: 40%;
    height: auto;
    Box-shadow: 6;
    Border: 10px ridge #FFFFFF;
    Border-radius: 10px;
    margin: 30px;
}

.text-box{
    float: right;
    max-width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #1C2995;
    color: #FFFFFF;
    border-radius: 0%;
    padding: 15px;
    font-style: italic;
    
}

.text-box h2{
    border-bottom: 2px solid #FFFFFF;
    color: #fff;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
}

a.button-design{
    color: white;
    border-radius: 3px;
    text-decoration: none;
    padding: 8px 25px;
    font-weight: bold;
}
a.button-design:link{
    background-color: #1C2995;
}
a.button-design:hover{
    background-color: #444ea5;
}

@media only screen and (max-width: 1024px){
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1.3em;
    }
    main,
    footer{
        width: 90%;
    }
}

@media only screen and (max-width: 768px){
    h1{
        font-size: 2em;
    }
    .home-hero{
        height: 125px;
    }
    .home-hero h1{
        height: 125px;
        font-size: 1.5em;
        padding-top: 45px;
    }
.float-right,
.float-left{
    display: none;
}

.text-box{
    float: none;
    max-width: 100%;
    display: block;
}

nav ul{
    padding: 0;
    margin: 0;
}
nav li{
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: 1px solid #646464;
}
}